<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
                Cliente salvo/atualizado com sucesso!    
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro  }}    
            </div>
        </div>
    </div>
    <form class="form-clientes" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-form-field class="width50" *ngIf="cliente.id">
              <mat-label>ID</mat-label>
              <input 
                matInput
                formControlName="id">
            </mat-form-field>

            <mat-form-field class="width50" *ngIf="cliente.id">
              <mat-label>Data Cadastro</mat-label>
              <input 
                matInput
                formControlName="dataCadastro">
            </mat-form-field>

            <mat-form-field class="width40">
              <mat-label>Nome</mat-label>
              <input 
                matInput
                placeholder="Ex. João da Silva"
                formControlName="nome">
              <mat-error *ngIf="formulario.get('nome')?.errors">
                Nome é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          
            <mat-form-field class="width20">
              <mat-label>CPF</mat-label>
              <input
                mask="000.000.000-00"
                matInput
                placeholder="Ex. 999.999.999-99"
                formControlName="cpf">
              <mat-error *ngIf="formulario.get('cpf')?.errors">
                CPF <strong>inválido</strong>
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="width20">
                <mat-label>Data Nascimento</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="dataNascimento"
                    #inputDateMask
                    id="inputDateMasker"
                    (focus)="focusFunction()"
                    (blur)="blurFunction()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formulario.get('dataNascimento')?.errors">
                    Data de Nascimento <strong>inválida</strong>
                </mat-error>
            </mat-form-field>
          
            <mat-form-field class="width20">
                <mat-label>Celular</mat-label>
                <input
                    mask="(00) 00000-0000"
                    matInput
                    placeholder="Ex. (85) 99999-9999"
                    formControlName="celular">
                <mat-error *ngIf="formulario.get('celular')?.errors">
                    Celular é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="width20">
                <mat-label>Cep</mat-label>
                <input
                    mask="00000-000"
                    matInput
                    placeholder="Ex. 00000-000"
                    [(ngModel)]="cliente.cep"
                    formControlName="cep"
                    (ngModelChange)="cepSearch(cliente.cep)">
            </mat-form-field>

            <mat-form-field class="width40">
                <mat-label>Endereço</mat-label>
                <input
                    matInput
                    placeholder="Ex. Rua das Goiabeiras"                    
                    formControlName="endereco">
                <mat-error *ngIf="formulario.get('endereco')?.errors">
                    Endereço é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="width10">
                <mat-label>Nº</mat-label>
                <input
                    matInput
                    placeholder="Ex. 123"
                    formControlName="numero">
                <mat-error *ngIf="formulario.get('numero')?.errors">
                    Número é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="width30">
                <mat-label>Complemento</mat-label>
                <input
                    matInput
                    placeholder="Ex. Casa Próximo a Farmácia"
                    formControlName="complemento">
            </mat-form-field>

            <mat-form-field class="width30">
                <mat-label>Bairro</mat-label>
                <input
                    matInput
                    placeholder="Ex. Bairro Alto Alegre"
                    formControlName="bairro">
                <mat-error *ngIf="formulario.get('bairro')?.errors">
                    Bairro é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="width30">
                <mat-label>Cidade</mat-label>
                <input
                    matInput
                    placeholder="Ex. Fortaleza"
                    formControlName="cidade">
                <mat-error *ngIf="formulario.get('cidade')?.errors">
                    Cidade é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="width20">
                <mat-label>UF</mat-label>
                <input
                    matInput
                    placeholder="Ex. CE"
                    formControlName="uf">
                <mat-error *ngIf="formulario.get('uf')?.errors">
                    UF é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-checkbox 
                class="width20"
                [(ngModel)]="cliente.ativo"
                formControlName="ativo">{{ cliente.ativo ? 'Ativo' : 'Inativo' }}                
            </mat-checkbox>            

            <br/><br/>
            
            <button type="submit" class="mr-2" mat-raised-button color="primary" *ngIf="!cliente.id">
                <i class="fa fa-save"></i> Salvar
            </button>

            <button type="submit" class="mr-2" mat-raised-button color="primary" *ngIf="cliente.id">
                <i class="fa fa-sync-alt" ></i> Atualizar
            </button>

            <button mat-raised-button color="warn" (click)="voltarParaListagem()">
                <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
            </button>

        </mat-card>
    </form>    
</div>
