<h1 class="mt-4">Venda</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Novo</li>
</ol>
<p-messages [value]="msgs"></p-messages>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000"></p-confirmDialog>
<div class="container-fluid p-0">
    <form #form="ngForm">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Venda salva com sucesso!    
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro  }}    
                </div>
            </div>
        </div>
        
        <div class="card border shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="cliente">Cliente: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <p-dropdown
                                    [options]="clientesSelect"
                                    filter="true"
                                    [style]="{'width':'100%'}"
                                    name="cliente"
                                    placeholder="SELECIONE O CLIENTE"
                                    (onHide)="getDadosClientes(venda.idCliente)"
                                    (onChange)="getDadosClientes(venda.idCliente)"
                                    [(ngModel)]="venda.idCliente">
                                </p-dropdown>
                            </div>                                   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="data-venda">Data da Venda:</label>
                            <div class="col-md-12 pl-0 pr-0">
                                <p-calendar
                                    [(ngModel)]="dataVenda"
                                    dateFormat="dd/mm/yy"
                                    readonlyInput="true"
                                    [monthNavigator]="true"
                                    [yearNavigator]="true"
                                    yearRange="2000:2030"
                                    showButtonBar="true"
                                    name="data-venda"
                                    [locale]="ptbr"
                                    showIcon="true"                                    
                                    [style]="{'width':'100%'}"
                                    [inputStyle]="{'width':'90%'}">
                                </p-calendar>
                            </div>
                        </div>
                    </div>            
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="endereco">Endereço: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <input
                                    id="disabled-input"
                                    type="text"
                                    pInputText
                                    [disabled]="venda.idCliente"
                                    class="w-100"
                                    name="endereco"
                                    [(ngModel)]="clienteVenda.endereco" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="bairro">Bairro: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <input
                                    id="disabled-input"
                                    type="text"
                                    pInputText
                                    [disabled]="venda.idCliente"
                                    class="w-100"
                                    name="bairro"
                                    [(ngModel)]="clienteVenda.bairro" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cidade">Cidade: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <input
                                    id="disabled-input"
                                    type="text"
                                    pInputText
                                    [disabled]="venda.idCliente"
                                    class="w-100"
                                    name="cidade"
                                    [(ngModel)]="clienteVenda.cidade" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="uf">UF: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <input
                                    id="disabled-input"
                                    type="text"
                                    pInputText
                                    [disabled]="venda.idCliente"
                                    class="w-100"
                                    name="uf"
                                    [(ngModel)]="clienteVenda.uf" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="numero">Nº: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <input
                                    id="disabled-input"
                                    type="text"
                                    pInputText
                                    [disabled]="venda.idCliente"
                                    class="w-100"
                                    name="numero"
                                    [(ngModel)]="clienteVenda.numero" />
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="observacao">Observação: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <input
                                    id="disabled-input"
                                    type="text"
                                    pInputText
                                    class="w-100"
                                    name="observacao"
                                    [(ngModel)]="venda.observacao" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="status">Status Pedido: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <p-dropdown
                                    [options]="statusPedidoSelect"
                                    [(ngModel)]="venda.statusPedido"
                                    filter="true"
                                    [style]="{'width':'100%'}"
                                    name="status"
                                    placeholder="STATUS DO PEDIDO">
                                </p-dropdown>
                            </div>                                   
                        </div>
                    </div>
                </div>
        
                <div class="row">                    
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="entregador">Entregador: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <p-dropdown
                                    [options]="entregadorSelect"
                                    [(ngModel)]="venda.idEntregador"
                                    filter="true"
                                    [style]="{'width':'100%'}"
                                    name="entregador"
                                    placeholder="SELECIONE O ENTREGADOR"
                                    (onHide)="focusQuantidade()">
                                </p-dropdown>
                            </div>                                   
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="taxa-entrega">Taxa de Entrega: </label>
                            <div class="col-md-12 pl-0 pr-0">
                                <p-dropdown
                                    [options]="valoresTaxaEntregaSelect"
                                    [(ngModel)]="venda.taxaEntrega"
                                    filter="true"
                                    [style]="{'width':'100%'}"
                                    name="taxa-entrega"
                                    placeholder="TAXA DE ENTREGA"
                                    (onChange)="calcularTotalCompra()">
                                </p-dropdown>
                            </div>                                   
                        </div>
                    </div>
                </div>

            </div>
        </div>        
        
        <div class="row">
            <div class="col-md-12">
                <div class="card border shadow">
                    <div class="card-header pb-0">
                        <h4>Produtos</h4>                                             
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Produto: </label>
                                    <div class="col-md-12 pl-0">
                                        <p-dropdown
                                            [options]="produtosSelect"
                                            [(ngModel)]="venda.produto"
                                            filter="true"
                                            [style]="{'width':'100%'}"
                                            [ngModelOptions]="{standalone: true}"
                                            placeholder="SELECIONE O PRODUTO A SER VENDIDO"
                                            (onHide)="focusQuantidade()">
                                        </p-dropdown>
                                    </div>                                   
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Quantidade:</label>
                                    <input class="form-control" 
                                            [(ngModel)]="quantidadeVenda" type="text" 
                                            name="quantidade" id="inputQuantidade">
                                </div>
                            </div>
    
                            <div class="col-md-1 mt-2 p-0">
                                <button class="btn btn-success mt-4" type="button" (click)="addProduto()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col" width="5%">#</th>
                                <th scope="col" width="15%">Código EAN</th>
                                <th scope="col" width="35%">Descrição</th>
                                <th scope="col" width="5%">Tipo</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Valor Unitário</th>
                                <th scope="col">Valor Total</th>
                                <th scope="col" width="10%"></th>
                              </tr>
                            </thead>
                            <tbody id="outross">
                              <tr *ngFor="let itevda of venda.itensVenda; let i = index;">
                                <th scope="row" width="5%">{{ i + 1 }}</th>
                                <td width="15%">{{ itevda.produto.codigoEan }}</td>
                                <td width="35%">{{ itevda.produto.descricao }}</td>
                                <td width="5%">{{ itevda.produto.tipo }}</td>
                                <td>{{ itevda.quantidade | number }}</td>
                                <td>{{ itevda.produto.precoVenda | currency : 'BRL' }}</td>
                                <td>{{ (itevda.quantidade * itevda.produto.precoVenda) | currency : 'BRL' }}</td>
                                <td width="10%">
                                    <button
                                      pButton
                                      type="button"
                                      icon="pi pi-trash"
                                      class="ui-button-rounded ui-button-danger"
                                      (click)="removerItem(i)">                                        
                                    </button>
                                </td>
                              </tr>                              
                            </tbody>
                            <tfoot>
                                <tr *ngIf="valorTotalVenda > 0">
                                    <th class="text-right" colspan="5" scope="col">Total Itens:</th>                                    
                                    <th class="text-left" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ valorTotalVenda | currency : 'BRL' }}</th>                                    
                                </tr>
                                <tr *ngIf="venda.taxaEntrega > 0">
                                    <th class="text-right" colspan="5" scope="col">Taxa de Entrega:</th>                                    
                                    <th class="text-left" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ (venda.taxaEntrega || 0) | currency : 'BRL' }}</th>                                    
                                </tr>
                                <tr *ngIf="venda.desconto > 0">
                                    <th class="text-right pt-1 pb-1" colspan="5" scope="col">Total de Desconto:</th>                                    
                                    <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ (venda.desconto || 0) | currency : 'BRL' }}</th>                                    
                                </tr>
                                <tr *ngIf="valorTotalVendaBruto > 0">
                                    <th class="text-right" colspan="5" scope="col">Total Compra:</th>                                    
                                    <th class="text-left" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ valorTotalVendaBruto | currency : 'BRL' }}</th>                                    
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>                
            </div>
        </div>

        <div class="row pl-3 pt-4">
            <div class="col-md-6">
                <button
                    pButton
                    (click)="voltarParaConsultaVendas()"
                    icon="pi pi-arrow-circle-left"
                    type="button"
                    label="Voltar"
                    class="ui-button-raised ui-button-danger">
                </button>                
            </div>
            <div class="col-md-6 text-right">
                <button
                    pButton
                    (click)="salvarPreVenda()"
                    icon="pi pi-check-square"
                    type="button"
                    label="Salvar Pré-Venda"
                    [disabled]="statusBotaoRealizarPagamento()"
                    class="mr-3 ui-button-raised ui-button-warning">
                </button>
                <p-button
                    (click)="dialogRealizarPagamento($event, 'bottomright')"
                    icon="pi pi-arrow-up"
                    label="Realizar Pagamento"
                    [disabled]="statusBotaoRealizarPagamento()"
                    styleClass="p-button-warning mr-3">
                </p-button>
            </div>
        </div>
        
    </form>

    <p-dialog header="FINALIZAÇÃO - PAGAMENTO" [(visible)]="displayPositionRealizarPagamento" [position]="position" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="pagamento">Selecione a forma de Pagamento: </label>
                <div class="col-md-12 pl-0 pr-0">
                    <p-dropdown
                        [options]="formasPagamentosSelect"
                        [(ngModel)]="venda.formaPagamento"
                        filter="true"
                        [style]="{'width':'100%'}"
                        name="pagamento"
                        placeholder="SELECIONE 1 OU MAIS FORMAS DE PAGAMENTO"
                        (onHide)="getDadosClientes(venda.idCliente)"
                        (onChange)="getDadosClientes(venda.idCliente)">
                    </p-dropdown>
                </div>                                   
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="valorPagamento">Valor R$: </label>
                <div class="col-md-12 pl-0 pr-0">
                    <input
                        id="disabled-input"
                        type="text"
                        pInputText
                        class="w-100"
                        name="valorPagamento"
                        [(ngModel)]="valorFormaPagamento" />
                </div>
            </div>
        </div>
        <div class="col-md-1 pl-1">
            <div class="form-group">      
                <br>
                <button type="button" pButton icon="fa fa-plus" (click)="addFormaPagamento()" class="mt-2"></button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>            
            <th scope="col" width="80%">Forma de Pagamento</th>
            <th scope="col" width="20%">Valor Pago</th>
            <th scope="col" width="10%"></th>
          </tr>
        </thead>
        <tbody id="outross">          
          <tr *ngFor="let pagamentoVda of venda.pagamentosVenda; let i = index;">
            <td width="80%">{{ pagamentoVda.formaPagamento.descricao }}</td>
            <td width="20%">{{ pagamentoVda.valor | currency : 'BRL' }}</td>
            <td width="10%">
                <button
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  class="ui-button-rounded ui-button-danger"
                  (click)="removerFormaPagamento(i)">                                        
                </button>
            </td>
          </tr>                             
        </tbody>
        <tfoot>
            <tr>
                <th class="text-right pt-1 pb-1" colspan="5" scope="col">Total Itens:</th>                                    
                <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ valorTotalVenda | currency : 'BRL' }}</th>                                    
            </tr>
            <tr>
                <th class="text-right pt-1 pb-1" colspan="5" scope="col">Taxa de Entrega:</th>                                    
                <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ (venda.taxaEntrega || 0) | currency : 'BRL' }}</th>                                    
            </tr>
            <tr>
                <th class="text-right pt-1 pb-1" colspan="5" scope="col">Total de Desconto:</th>                                    
                <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ (venda.desconto || 0) | currency : 'BRL' }}</th>                                    
            </tr>
            <tr class="bg-info text-white">
                <th class="text-right pt-1 pb-1" colspan="5" scope="col">Total a Pagar:</th>                                    
                <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ valorTotalVendaBruto | currency : 'BRL' }}</th>                                    
            </tr>
            <tr class="bg-success text-white">
                <th class="text-right pt-1 pb-1" colspan="5" scope="col">Total Pago:</th>                                    
                <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ valorTotalPago | currency : 'BRL' }}</th>                                    
            </tr>
            <tr class="bg-warning" *ngIf="venda.troco < 0">
                <th class="text-right pt-1 pb-1" colspan="5" scope="col">A receber:</th>                                    
                <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ valorAbsoluto(venda.troco) | currency : 'BRL' }}</th>                                    
            </tr>
            <tr class="bg-secondary text-white" *ngIf="venda.troco > 0">
                <th class="text-right pt-1 pb-1" colspan="5" scope="col">Troco:</th>                                    
                <th class="text-left pt-1 pb-1" colspan="1" scope="col">&nbsp;&nbsp;&nbsp;&nbsp; {{ venda.troco | currency : 'BRL' }}</th>                                    
            </tr>
        </tfoot>
    </table>
    <p-footer>
        <div class="row">
            <div class="col-md-6 text-left">
                <button type="button" pButton icon="pi pi-check" (click)="displayPositionDesconto=true" label="Aplicar Desconto"></button>                
            </div>
            <div class="col-md-6 text-right">
                <button type="button" pButton icon="pi pi-times" (click)="inserirVenda()" label="Finalizar Pagamento" class="ui-button-success" [disabled]="venda.troco < 0"></button>                
            </div>
        </div>
    </p-footer>
    </p-dialog>    
    
    <p-dialog header="Aplicar Desconto" [(visible)]="displayPositionDesconto" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <div class="col-md-12">
            <div class="form-group">
                <label for="valorDescontoDialog">Informe o valor do desconto R$: </label>
                <div class="col-md-12 pl-0 pr-0">
                    <input
                        id="disabled-input"
                        type="text"
                        pInputText
                        class="w-100"
                        name="valorDescontoDialog"
                        [(ngModel)]="valorDescontoDialog" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="row">
                <div class="col-md-6 text-left">
                    <button type="button" pButton (click)="valorDescontoDialog=0" label="Zerar" class="ui-button-warning"></button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" pButton icon="pi pi-check" (click)="aplicarDesconto()" label="Aplicar"></button>
                </div>
            </div>
        </p-footer>
    </p-dialog>
</div>