<h1 class="mt-4">Entregadores</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}  
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro  }}    
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()" >
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Ativo?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entregador of entregadores">
                        <td>{{ entregador.id }}</td>
                        <td>{{ entregador.nome }}</td>
                        <td>{{ entregador.ativo ? 'SIM' : 'NÃO' }}</td>
                        <td>
                            <button class="btn btn-primary" 
                                    routerLink="/entregador/form/{{ entregador.id }}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger ml-1" (click)="preparaDelecao(entregador)" 
                                    data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="entregadorSelecionado">
                    Confirma a exclusão do Cadastro do Entregador {{ entregadorSelecionado.nome }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarEntregador()"  
                            data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>